/* Tailwind Configs */
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-pal1: #DEFCF9;
  --color-pal1-200: #abf6f0;
  --color-pal1-300: #71efe6;
  --color-pal1-400: #2fe1d8;
  --color-pal1-500: #14c6bf;
  --color-pal1-600: #13a5a7;
  --color-pal2: #CADEFC;
  --color-pal2-300: #97c1f9;
  --color-pal2-400: #66a0f4;
  --color-pal2-500: #427cef;
  --color-pal2-600: #2d5ee3;
  --color-pal3: #C3BEF0;
  --color-pal3-400: #a89ee7;
  --color-pal3-500: #8a76dc;
  --color-pal3-600: #7758cf;
  --color-pal3-700: #6746bb;
  --color-pal4: #cca8e9;
  --color-pal4-500: #ac73d9;
  --color-pal4-600: #9755c8;
  --color-pal4-700: #8242ae;
  --color-pal4-800: #6e3a8f;
  --color-back-gray: #f7f7f8;
}
/* Fonts */
@font-face {
  font-family: yekan;
  src: url("/fonts/IRANYekanWebMedium.ttf");
}
*{
  font-family: yekan;
}
/* Sliders */
.landing-head-slider .swiper-pagination-bullet{
  width: 18px;
  height: 18px;
  margin-top: -10px;
  background-color: #2fe1d8;
}
.landing-head-slider .swiper-button-prev,
.landing-head-slider .swiper-button-next{
  width: 18px;
  height: 18px;
  color: #2fe1d8;
}